[Unit]
Description=LoRa Endpoint
StartLimitIntervalSec=0
After=mosquitto.service

[Service]
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/usr/local/src/lora-endpoint
Environment=DEBUG=lora*
ExecStart=node --experimental-specifier-resolution=node dist/main.js --listen /run/lora-endpoint.sock --mqtt_broker mqtt://localhost --user lora-endpoint --group lora-endpoint

[Install]
WantedBy=multi-user.target

